@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>We here at quick quote pride ourselves on maintaining immaculate customer service
    and reliablity. Your feedback is crucial to our business model of keeping our customers
    first. So, please send our support center any feedback which can be located on our 
    Contact Us page. But most importantly, thank you for choosing us to do business with,
    because trust us, your wallet will thank you!</h4>
