@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<address>
    Middlebrook Blvd. Suite 210<br />
    Portland, OR 97214<br />
    <abbr title="Phone">P:</abbr>
    503-246-8024
</address>

<address>
    <strong>Support:</strong>QuickQuoteSupport@gmail.com<br />
</address>