@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quick Quote Auto Insurance</h1>
    <p class="lead">Here at Quick Quote, we specialize in quick, afforable, and reliable car insurance! Check out our Quick Quote estimate at the top of the page today! </p>    
</div>
